.rose1 {
  width: 300px;
}


.rose2 {
  width: 300px;
}


.title-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}


h1 { 
  color: #F4C2C2;
  font-size: 300px;
  text-align: center;
  font-family: "lafleur", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 0px;
  margin-bottom: 7px;
  display: block;
  padding-left: 0%;
  line-height: 0.9;
  animation: neonGlow 1.5s ease-in-out infinite alternate;
  
}


@keyframes neonGlow {
  from {
    text-shadow: 0 0 5px #F4C2C2, 0 0 10px #F4C2C2, 0 0 20px #F4C2C2;
  }
  to {
    text-shadow: 0 0 20px #FF69B4, 0 0 40px #FF69B4, 0 0 60px #FF69B4;
  }
}

body { 
  background-color: black; 
}


p {
  font-family: "hagrid", sans-serif;
  font-size: 40px;
  color: lightpink;
  text-align: center;
  margin-top: 0px;

}


.gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, auto); 
  gap: 70px; 
  justify-content: center; 
  margin-top: 50px;
}



.gallery {
  --g: 10px;
  display: grid;
  clip-path: inset(1px);
}

.gallery > img {
  --_p: calc(-1 * var(--g));
  grid-area: 1/1;
  width: 400px;
  aspect-ratio: 1;
  cursor: pointer;
  transition: .4s .1s;
}



.gallery > img:first-child {
  clip-path: polygon(0 0, calc(100% + var(--_p)) 0 , 0 calc(100% + var(--_p)));
}

.gallery > img:last-child {
  clip-path: polygon(100% 100%, 100% calc(0% - var(--_p)), calc(0% - var(--_p)) 100%);
}

.gallery:hover > img:last-child,
.gallery:hover > img:first-child:hover {
  --_p: calc(50% - var(--g));
}

.gallery:hover > img:first-child,
.gallery:hover > img:first-child:hover + img {
  --_p: calc(-50% - var(--g));
}




